{
  "name": "Minter Gate",
  "debug": MG_DEBUG,
  "baseCoin": "MG_BASE_COIN"
  "minterApi": {
    "isSecure": false,
    "link": "MG_NODE_HOST",
    "port": "MG_NODE_PORT"
  },
  "gateApi": {
    "isSecure" : false,
    "host": "MG_API_HOST",
    "port": "MG_API_PORT"
  },
 "wsServer":{
   "isSecure" : false,
   "link" : "MG_WS_LINK",
   "port" : "MG_WS_PORT",
   "key"  : "MG_WS_KEY"
 }
}
