{
  "openapi": "3.0.2",
  "info": {
    "title": "Minter Gate API",
    "description": "Minter Gate is a service which provides to clients publish prepared transactions to Minter Network",
    "version": "1.1.5"
  },
  "servers": [
    {
      "url": "https://gate.minter.network/api",
      "description": "Main (production) server"
    }
  ],
  "paths": {
    "/v1/estimate/tx-commission": {
      "get": {
        "tags": [
          "Estimate"
        ],
        "summary": "Returns commission for transaction.",
        "parameters": [
          {
            "name": "transaction",
            "in": "query",
            "required": true,
            "description": "Transaction which have to be estimated",
            "schema": {
              "type": "string",
              "format": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EstimateTransactionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NodeErrorResponse"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error"
          }
        }
      }
    },
    "/v1/estimate/coin-sell": {
      "get": {
        "tags": [
          "Estimate"
        ],
        "summary": "Returns a number of coins you will get and commission for the transaction.",
        "parameters": [
          {
            "name": "coinToSell",
            "in": "query",
            "required": true,
            "description": "Name of coin you going to sell",
            "schema": {
              "type": "string",
              "example": "BIP"
            }
          },
          {
            "name": "coinToBuy",
            "in": "query",
            "required": true,
            "description": "Name of coin you going to buy",
            "schema": {
              "type": "string",
              "example": "SUPERCOIN"
            }
          },
          {
            "name": "valueToSell",
            "in": "query",
            "required": true,
            "description": "Number of coins you sell (in PIP)",
            "schema": {
              "type": "integer",
              "format": "uint64",
              "example": 123456789000000000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EstimateCoinSellResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NodeErrorResponse"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error"
          }
        }
      }
    },
    "/v1/estimate/coin-buy": {
      "get": {
        "tags": [
          "Estimate"
        ],
        "summary": "Returns a number of coins you have to pay and commission for the transaction.",
        "parameters": [
          {
            "name": "coinToSell",
            "in": "query",
            "required": true,
            "description": "Name of coin you going to pay",
            "schema": {
              "type": "string",
              "example": "BIP"
            }
          },
          {
            "name": "coinToBuy",
            "in": "query",
            "required": true,
            "description": "Name of coin you going to buy",
            "schema": {
              "type": "string",
              "example": "SUPERCOIN"
            }
          },
          {
            "name": "valueToSell",
            "in": "query",
            "required": true,
            "description": "Number of coins you have to pay (in PIP)",
            "schema": {
              "type": "integer",
              "format": "uint64",
              "example": 123456789000000000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EstimateCoinBuyResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NodeErrorResponse"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error"
          }
        }
      }
    },
    "/v1/get-nonce/{address}": {
      "get": {
        "tags": [
          "Nonce"
        ],
        "summary": "Returns a count of transactions for address.",
        "parameters": [
          {
            "name": "address",
            "in": "path",
            "required": true,
            "description": "Address",
            "schema": {
              "type": "string",
              "example": "Mx9bdd202c74f92ca4b6dc1090a0362afeed11d1f2"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetNonceResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NodeErrorResponse"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error"
          }
        }
      }
    },
    "/v1/transaction/push": {
      "post": {
        "tags": [
          "Transaction"
        ],
        "summary": "Send transaction to the network and return hash of transactions.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PushTransactionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PushTransactionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NodeErrorResponse"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "NodeError": {
        "properties": {
          "code": {
            "type": "integer",
            "example": 1
          },
          "log": {
            "type": "string",
            "example": "Error explain"
          },
          "value": {
            "type": "integer",
            "example": 1000
          },
          "coin": {
            "type": "string",
            "example": "MNT"
          }
        },
        "required": [
          "code",
          "log"
        ]
      },
      "EstimateTransaction": {
        "properties": {
          "commission": {
            "type": "string",
            "example": "1000000000"
          }
        },
        "required": [
          "commission"
        ]
      },
      "EstimateCoinSell": {
        "properties": {
          "will_get": {
            "type": "string",
            "example": "100000"
          },
          "commission": {
            "type": "string",
            "example": "1000000000"
          }
        },
        "required": [
          "will_get",
          "commission"
        ]
      },
      "EstimateCoinBuy": {
        "properties": {
          "will_pay": {
            "type": "string",
            "example": "100000"
          },
          "commission": {
            "type": "string",
            "example": "1000000000"
          }
        },
        "required": [
          "will_pay",
          "commission"
        ]
      },
      "Nonce": {
        "properties": {
          "nonce": {
            "type": "string",
            "example": "1000"
          }
        },
        "required": [
          "nonce"
        ]
      },
      "Transaction": {
        "properties": {
          "hash": {
            "type": "string",
            "example": "Mtd007083ed828a3c59040a66ae821d3cb3db9da2274f4d5a0f6d94db785229acf"
          }
        },
        "required": [
          "hash"
        ]
      },
      "NodeErrorResponse": {
        "properties": {
          "error": {
            "$ref": "#/components/schemas/NodeError"
          }
        }
      },
      "EstimateTransactionResponse": {
        "properties": {
          "data": {
            "$ref": "#/components/schemas/EstimateTransaction"
          }
        }
      },
      "EstimateCoinSellResponse": {
        "properties": {
          "data": {
            "$ref": "#/components/schemas/EstimateCoinSell"
          }
        }
      },
      "EstimateCoinBuyResponse": {
        "properties": {
          "data": {
            "$ref": "#/components/schemas/EstimateCoinBuy"
          }
        }
      },
      "GetNonceResponse": {
        "properties": {
          "data": {
            "$ref": "#/components/schemas/Nonce"
          }
        }
      },
      "PushTransactionResponse": {
        "properties": {
          "data": {
            "$ref": "#/components/schemas/Transaction"
          }
        }
      },
      "PushTransactionRequest": {
        "properties": {
          "transaction": {
            "type": "string",
            "example": "0xf8820d018a4d4e540000000000000001a9e88a4d4e5400000000000000941b685a7c1e78726c48f619c497a07ed75fe00483872386f26fc10000808001b845f8431ca05ddcd3ffd2d5b21ffe4686cadbb462bad9facdd7ee0c2db31a7b6da6f06468b3a044df8fc8b4c4190ef352e0f70112527b6b25c4a22a67c9e9365ac7e511ac12f3"
          }
        }
      }
    }
  }
}
